/* * Universal styles*/

* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  /* * Parent's of child with position: absolute */
  position: relative;
}

.container {
  width: 800px;
  /* * Making this page have the same space for both left and right side !!! */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* position: relative; */
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}
.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}

aside {
  background-color: #f7f7f7;
  border: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0px;
  width: 500px;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
  /* * Convert the nav lin to Inline-Level elements */
  /* display: inline; */
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 22px;
  margin-bottom: 10px;
  /* * Convert the nav lin to Inline-Level elements */
  /* display: inline; */
}

li:last-child {
  margin-bottom: 0px;
}

/* * Descendent Selecter */
/* footer p {
  font-size: 16px;
} */
/* article header p {
  font-style: italic;
} */

/* * ID Selector: (Don't use this) */
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}

/* * Class Selector: (Use this instead) */
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
}

/* body {
  background-color: blue; 
} 
*/

/* * Pseudo Class */
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(even) {
  color: grey;
}

/* * Just don't use on Descendent selectors */
/* article p:first-child {
  color: red;
} */

/* article p:last-child {
  color: red;
} */

/* a {
  color: red;
} */

a:link {
  color: #1098ad;
  /* * Make link have no underline */
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: olive;
  font-weight: bold;
  /* text-decoration: underline dotted orangered; */
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}

/* * Already is a inline-block box element*/
.post-img {
  /* * Responsive Size*/
  width: 100%;
  height: auto;
  /* margin-top: 100px; */
}

/* * Convert the nav link to Block-Level elements */
/* nav a:link {
  background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block;
} */

/* * Convert the nav link to Inline-Block Level elements */
nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0px;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  /* *Position 50px from the top and 50px from the left*/
  /* top: 50px;
  left: 50px; */
  /* *Position 50px from the bottom and 50px from the right*/
  bottom: 50px;
  right: 50px;
}

/* * Pseudo Element (use double colon "::" */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* p::first-line {
  color: red;
} */

/* * Adjacent sibling selector:
 * is the selector of the element that share  the same parent.
*/
h3 + p::first-line {
  color: red;
}

h2 {
  /* background-color: orange; */
  position: relative;
}

/* * Pseudo element: first child element of the parent "h2" */
h2::before {
}

/* * Pseudo element: last child element of the parent "h2" */
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  /* * Negative Length:
  * It will move to the opposite direction of specify attributes.
  * */
  top: -10px;
  right: -25px;
}
